body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    padding: 15px;
    color: white;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
}

.search-input,
.date-input,
.guest-input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-btn {
    background-color: hsl(281, 39%, 49%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
